<section id="allDepartments">
    <h1>Departments</h1>
    <form class="department-form" (ngSubmit)="addDepartment()">
        <input type="text" name='title' [(ngModel)]="newDepartmentTitle" placeholder="Write department's name" required>
        <button type="submit">Add</button>

    </form>

    <div class="item-list">
        <department-app *ngFor="let department of departments" [department]="department" (deleted)="onDepartmentDelete(department)" (click)="onSelect(department)" [class.selected]="department === selectedDepartment">

        </department-app>
    </div>


</section>
<section id="Employees" *ngIf="selectedDepartment">
    <employee-list [departmentEmployee]="departmentEmployee" [selectedDepartment]="selectedDepartment">

    </employee-list>
</section>