h1, form.department-form {
    padding-left: 30px;
}
#allDepartments {
    float: left;
    width: 48%;
    box-shadow: 3px 3px 5px lightgrey, -3px -3px 5px lightgrey, 3px -3px 5px lightgrey, -3px 3px 5px lightgrey;
    margin-right: 20px;
    padding: 20px 30px 20px 0;
}
#allDepartments form {
    display: flex;
}
#allDepartments button {
    background-color: #27CCC0;
    color: white;
    height: 30px;
    width: 75px;
    font-size: 12px;
    font-weight: 400;
    line-height: inherit;
    padding: 0;
    margin-left: auto;
    border-radius: 5px;
}
department-app {
    display: flex;
    margin-bottom: 15px;
}
department-app:first-child {
    margin-top: 20px;
}
#Employees {
    height: 94vh;
    overflow: auto;
    float: left;
    width: 48%;
    box-shadow: 3px 3px 5px lightgrey, -3px -3px 5px lightgrey, 3px -3px 5px lightgrey, -3px 3px 5px lightgrey;
}
employee-list {
    display: block;
    padding-bottom: 20px;
}
.selected {
    border-left: 2px solid #FF2F5A !important;
    color: white;
}