span {
    color: black;
}


button {
    border: 1px solid red;
    border-radius: 5px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: inherit;
    color: red;
}

div.actions {
    margin-left: auto;
}