span.title {
    color: black;
    cursor: pointer;
}
span.title {
    padding-left: 30px;
}

span.title:hover{
    border-left: 2px solid #FF2F5A;
    padding-left: 28px;
}

button {
    border: 1px solid red;
    border-radius: 5px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: inherit;
    color: red;
}

div.actions {
    margin-left: auto;
}