h1{
    padding-left: 30px;
}
comment-app {
    margin-top: 25px;
    display: flex;
}

div.comment {
    display: inline-block;
}
form {
    margin-top: 20px;
}
form i.image {
    background-color: grey;
}

form textarea {
    width: 75%;
    height: 50px;
}


button{
    display: block;
    background-color: #27CCC0;
    color: white;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: inherit;
    padding: 0 23px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
}