h1, form.item-form {
    padding-left: 30px;
}
#allItems {
    float: left;
    width: 48%;
    box-shadow: 3px 3px 5px lightgrey, -3px -3px 5px lightgrey, 3px -3px 5px lightgrey, -3px 3px 5px lightgrey;
    margin-right: 20px;
    padding: 20px 30px 20px 0;
}
#allItems button {
    background-color: #27CCC0;
    color: white;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: inherit;
    padding: 0 23px;
    margin-left: 5px;
}
item-app {
    display: flex;
    margin-bottom: 15px;
}
item-app:first-child {
    margin-top: 20px;
}
#comments {
    height: 94vh;
    overflow: auto;
    float: left;
    width: 48%;
    box-shadow: 3px 3px 5px lightgrey, -3px -3px 5px lightgrey, 3px -3px 5px lightgrey, -3px 3px 5px lightgrey;
}
comment-list {
    display: block;
    padding-bottom: 20px;
}