<section id="allItems">
    <h1>Items</h1>
    <form class="item-form" (ngSubmit)="addItem()">
        <input type="text" name='title' [(ngModel)]="newItemTitle" placeholder="Write item's name" required>
        <button type="submit">Add item</button>

    </form>

    <div class="item-list">
        <item-app *ngFor="let item of items" [item]="item" (deleted)="onItemDelete(item)" (click)="onSelect(item)" [class.selected]="item === selectedItem">

        </item-app>
    </div>


</section>
<section id="comments" *ngIf="selectedItem">
    <comment-list [selectedItem]="selectedItem"></comment-list>
</section>